@use 'base/variables' as v;

.contenido-resumen{
    p{
        margin-bottom: 3rem;
    }
    span{
        color: v.$azul!important;
        font-weight: v.$bold!important;
        font-size: 2.4rem!important;
    }
}

.contenedor-servicio{
    border-bottom: 1px solid v.$gris;

    &:last-of-type{
        margin-bottom: v.$separacion;
    }
}